@page
@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "success")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
}
@model RazorPages.Pages.Recipes.ListRecipesModel
@{
    <table class="table table-bordered table-hover table-secondary m-3">
        <thead>
            <tr>
                <th style="text-align:center;">Recipe Name</th>
                <th style="text-align:center;">Ingredients</th>
                <th style="text-align:center;">Instructions</th>
                <th style="text-align:center;">Categories</th>
                <th style="text-align:center;">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.Recipes)
            {
                <tr>
                    <td width="15%">@recipe.Title</td>
                    <td width="20%">
                        @foreach (var obj in recipe.Ingredients)
                        {
                            <p>
                                -
                                @obj
                            </p>
                        }
                    </td>
                    <td width="40%">
                        @foreach (var obj in recipe.Instructions)
                        {
                            <p>
                                -
                                @obj
                            </p>
                        }
                    </td>
                    <td>
                        @foreach (var obj in recipe.Categories)
                        {
                            <p>
                                -
                                @obj
                            </p>
                        }
                    </td>
                    <td width="16%">
                        <a asp-page="Edit" asp-route-id="@recipe.Id" class="btn btn-dark">
                            <i class="bi bi-pencil-square"> Edit</i>
                        </a>
                        <a asp-page="Delete" asp-route-id="@recipe.Id" class="btn btn-primary btn-danger">
                            <i class="bi bi-trash"> Delete</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-end">
        <a asp-page="Create" class="btn btn-secondary"><i class="bi bi-plus-square"> Create new recipe</i></a>
    </div>
}
