@page
@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "success")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
    else if (@Model.Status == "error")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
}
@model RazorPages.Pages.Categories.ListCategoriesModel
@{

    int i = 1;
    <div class="row row-cols-1 row-cols-md-4 g-2 text-center">
            @foreach (var item in @Model.Categories)
        {
                <div class="col">
                    <div class="card h-100 text-center" style="background-color:#1A2238;margin-left:2px;margin-top:5px;">
                        <div class="card-body">
                            <h5 class="card-title">@item</h5>
                            <a asp-page="Edit" asp-route-category="@item" asp-route-postion="@i" class="btn btn-dark" style="background-color:#FF6A3D;color:white;margin-top:10px;">
                                <i class="bi bi-pencil-square">Edit</i>
                            </a>
                            <a asp-page="Delete" asp-route-category="@item" class="btn btn-primary btn-danger" style="color:white;margin-top:10px;">
                                <i class="bi bi-trash">Delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            i++;
        }
    </div>
    <div class="text-end">
            <a asp-page="Create" class="btn" style="background-color:#1A2238;color:#FF6A3D;font-weight:bold;margin-top:25px;"><i class="bi bi-plus-square"> Create new category</i></a>
    </div>
}
